p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
}
.button2 {
	margin: 12px;
	padding: 12px;
	background-color: pink;
	height: 200px;
	width: 500px;
	display: flex;
}
.doubleclick {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	border-radius: 5%;
	background-color: salmon;
	outline: none;
}
.button1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	display: flex;
	margin: 12px;
	padding: 12px;
	background-color: lightgreen;
	height: 50px;
	width: 350px;
}
.copyvalues {
	background-color: peru;
	width: 650px;
}
.clickpara {
	background-color: brown;
	color: bisque;
	margin: 25px 20px;
	padding: 2px;
	font-size: 18px;
	height: 50px;
	width: 500px;
}
#field1,
#field2 {
	margin: 12px;
	padding: 12px;
	outline: none;
	border: dotted 1px brown;
	height: 100px;
	width: 500px;
	background-color: lightyellow;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
}
#image1 {
	margin: 10px;
	padding: 10px;
}
#click {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	background-color: gold;
	outline: none;
}
