p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
}
.container-1,
.container-2 {
	display: flex;
}
.button2 {
	margin: 12px;
	padding: 12px;
	background-color: pink;
	height: 225px;
	width: 350px;
	display: flex;
}
.doubleclick {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	border-radius: 5%;
	background-color: salmon;
	outline: none;
	width: 50%;
	height: 75%;
}
.button1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	display: flex;
	margin: 12px;
	padding: 12px;
	background-color: burlywood;
	height: 100px;
	width: 350px;
}
.copyvalues {
	background-color: peru;
	width: 650px;
}
.clickpara {
	background-color: brown;
	color: bisque;
	margin: 25px 20px;
	padding: 2px;
	font-size: 18px;
	height: 50px;
	width: 500px;
}
#field1,
#field2 {
	margin: 12px;
	padding: 12px;
	outline: none;
	border: dotted 1px brown;
	height: 100px;
	width: 500px;
	background-color: lightyellow;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
}
#image1 {
	margin: 10px;
	padding: 10px;
}
#click {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	background-color: gold;
	outline: none;
}
#mouseup,
#mousedown {
	font-family: 'Open Sans Condensed', sans-serif;
	height: 50px;
	width: 100px;
	padding: 1em;
	margin: 1em;
	font-size: 14px;
	background-color: lightgoldenrodyellow;
	outline: none;
}

#mouse-enter,
#mouse-leave {
	font-family: 'Open Sans Condensed', sans-serif;
	height: 150px;
	width: 300px;
	padding: 1em;
	margin: 1em;
	font-size: 14px;
	background-color: lightskyblue;
	outline: none;
}
